.intro{
    width: 800px;
    margin: auto;
    text-align: center;
    background-color:rgb(228, 209, 170) ;
}

h2.apartado{
    margin: 20px;
    padding-top: 10px;
}

p{
    text-align: left;
    margin: 20px;
    padding: 5px;
}

.img-central{
    width: 600px;
}

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

th, td{
    border: 1px solid rgb(73, 36, 1);
    text-align: left;
    padding: 10px;
}

.lista{
    display: flex;
}

ol, ul{
    text-align: left;
    list-style-position: inside;
    margin-left: 50px;
}

.pequeña{
    margin-left: 35px;
}